* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial;
    border: none;
    border-radius: 5px;
}

.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cal-buttons{
    display: flex;
    flex-wrap: wrap;

}

.cal-input-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.math-button{
    width: 21%;
    height: 3rem;
    margin: 2%;
}
    
.cal-input{
    width: 75%;
    height: 3rem;
    border: .3% solid black;
    background-color: rgb(189, 189, 189);
    margin: 2%;
    text-align: right; 
}


.math-symbol{
   width: 21%;
   height: 3rem;
   margin: 2%;
   background-color: rgb(12, 68, 121);
   color: white;
   font-size: 28px;
   text-decoration: bold;
   font-weight: 60;
}

.delete-btn{
    width: 22%;
    height: 3rem;
    background-color: rgb(185, 23, 23);
    color: white;
    margin-top: 2%;

}

#equals{
    width: 46%;
    height: 3rem;
    margin: 2%;
    background-color: rgb(14, 108, 216);
    color: white;
}

.calculator{
      width: 120%;
}